.background{
    background-image: url('https://images.pexels.com/photos/1639418/pexels-photo-1639418.jpeg?cs=srgb&dl=pexels-sachith-hettigodage-1639418.jpg&fm=jpg');
    background-size: cover;
}

img{
    width: 100%;
    height: ;
}